<a href="https://colab.research.google.com/github/vafiyanaznin/business-analytics-with-python/blob/main/HRA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
x=int(input("Enter your salary"))*12
y=int(input("Enter your HRA of employer"))*12
z=int(input("Enter your HRA which is actually paid"))*12

Enter your salary500000
Enter your HRA of employer400000
Enter your HRA which is actually paid200000

In [17]:
a=z-(x*10/100)
print(a)
b=x*50/100
print(b)

1800000.0
3000000.0

In [18]:
if x<a and x<b:
   HRA=x
   print(HRA)
if a<b and a<x:
   HRA=y
   print(HRA)
if b<x and b<a:
   HRA=z
   print(HRA)

4800000

In [23]:
y1=x+y-5000
print(y1)

10795000

In [24]:
if y1<=250000:
   print("tax is zero")
if y1>=250000 and y1<=500000:
   tax=((y1-250000)*5/100)
   print(tax)
if y1>=500000 and y1<=750000:
   tax=((y1-250000)*5/100)+((y1-500000)*10/100)
   print(tax)
if y1>=750000 and y1<=1000000:
   tax=((y1-250000)*5/100)+((y1-500000)*10/100)+((y1-750000)*20/100)
   print(tax)
if y1>=1250000 and y1<=1500000:
   tax=((y1-250000)*5/100)+((y1-500000)*10/100)+((y1-750000)*20/100)+((y1-1250000)*25/100)
   print(tax)
if y1>=1500000:
   tax=((y1-250000)*5/100)+((y1-500000)*10/100)+((y1-750000)*20/100)+((y1-1250000)*25/100)+((y1-1500000)*30/100)
   print(tax)

8740500.0