<a href="https://colab.research.google.com/github/vafiyanaznin/business-analytics-with-python/blob/main/Revision.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
x= int(input("Enter your mark"))

Enter your mark60

In [5]:
if x>50 :
  print("You are pass")
if x<50 :
  print("You are failed")
if x==50 :
  print("You are just pass")

You are pass

In [18]:
x=int(input("Enter your salary"))

Enter your salary800000

In [19]:
if x>250000 and x<500000:
  tax=(x-250000)*10/100
  print(tax)
if x>500000:
  tax=((x-250000)*10/100)+((x-500000)*20/100)
  print(tax)
if x<250000:
  print("you are not taxable")

115000.0

In [38]:
y=int(input("Enter your salary"))

Enter your salary2000000

In [39]:
if y<=250000:
   print("tax is zero")
if y>=250000 and y<=500000:
   tax=((y-250000)*5/100)
   print(tax)
if y>=500000 and y<=750000:
   tax=((y-250000)*5/100)+((y-500000)*10/100)
   print(tax)
if y>=750000 and y<=1000000:
   tax=((y-250000)*5/100)+((y-500000)*10/100)+((y-750000)*20/100)
   print(tax)
if y>=1250000 and y<=1500000:
   tax=((y-250000)*5/100)+((y-500000)*10/100)+((y-750000)*20/100)+((y-1250000)*25/100)
   print(tax)
if y>=1500000:
   tax=((y-250000)*5/100)+((y-500000)*10/100)+((y-750000)*20/100)+((y-1250000)*25/100)+((y-1500000)*30/100)
   print(tax)

825000.0